body {
    background-color: #ebebeb;
  }
  .midBody{
    border: 2px solid #0B2447;
    height: 34pc;;
    width: 79.5pc;
    margin-left: 1pc;

  }

.heading {
    background-color: #0B2447;
    margin-bottom: 2px;
    padding: 5px 0px 5px 15px;
  }
  .foot{
    background-color: #0B2447;
    margin-top: 2px;
    padding: 25px 0px 24px 15px;
  }
  .title {
    background-color: #333333;
    padding: 5px;
    color: white;
  }
  #subtitle {
    color: white;
    margin-left: 30px;
  }

  .content {
    color: #3e8fde;
  }

  img {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 4rem;
    height: 40vw;
    width: 60vw;
  }
  #info {
    padding-bottom: 15px;
  }

  #date {
    background-color: #333333;
    color: #3e8fde;
    padding: 0px 0px 5px 5px;
  }
  #showing {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 300px;
    /* background-color: #0B2447; */
    
  }
  #one{
    display: inline-flex;
  }