body {
    background-color: #ebebeb;
  }
.heading {
    background-color: #0B2447;
    margin-bottom: 2px;
    padding: 5px 0px 5px 15px;
  }
  .content {
    background-color: #0B2447;
    padding: 5px;
    color: white;
  }
  #subtitle {
    color: white;
    margin-left: 30px;
  }

  .container{
    margin-top: 1rem;
    margin-right: 1rem;
    display:flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
 
#image{
    margin-left: 1rem;
    height: 35rem;
    width: 50rem;
    flex: 2;
}
.title{
    height: 2rem;
    width: 40rem;
}
.date{
    height: 2rem;
    width: 40rem;
}
.description{
    margin-bottom: 0.5rem;
    height: 19rem;
    width: 40rem;
    flex: 1;
}
.comments{
    height: 8rem;
    width: 40rem;
    flex: 1;
}
.btns{
    height: 2rem;
    width: 40rem;
}
.like{
    margin-left: 1rem;
    height: 2rem;
    width: 50rem;
}
  